/* style.css */


a {
  text-decoration: none;
  color: #333;
}
pre {
  background-color: black;
  color: white;
  font-size: medium ; 
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  width: 100%;
  max-width: 50vw;
  display: inline-block;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  padding: 5px;
  margin: 10;
  text-align: left;
  overflow-x:auto;
}
body {
    font-family: 'Arial', sans-serif;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.header_link {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 98%;
    margin: 10px auto;
    text-align: center;
    align: center;
    margin-bottom: 100px;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item_ok {
    background-color: lightgreen;
    color: black;
}
.item_warning {
    background-color: moccasin;
    color: black;
}
.item_critical {
    background-color: salmon;
    color: black;
}
.item_unknown {
    background-color: plum;
    color: black;
}
.item_outdated {
    background-color: lightcyan;
    color: black;
}

.tile_ok {
    flex: 1 0 300px;
    background-color: lightgreen;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    padding: 1px;
    width: 300px;
    height: 100px;
}

.tile_crit {
    flex: 1 0 300px;
    background-color: salmon;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    padding: 1px;
    width: 300px;
    height: 100px;
}

.tile_warn {
    flex: 1 0 300px;
    background-color: moccasin;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    padding: 1px;
    width: 300px;
    height: 100px;
}

.tile_outdated {
    flex: 1 0 300px;
    background-color: lightcyan;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    padding: 1px;
    width: 300px;
    height: 100px;
}

.tile_unknown {
    flex: 1 0 300px;
    background-color: plum;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    padding: 1px;
    width: 300px;
    height: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  position: auto;
  bottom: 0;
  width: 100%;
}

#legend {
    width: 100px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
	main {
		font-size: 3.5vw;
	}

	pre {
		font-size: 3.5vw;
	        max-width: 100%;
		margin-bottom: 3%;
	}

	header {
		font-size: 3.5vw;
	}

	[class*="tile_"] {
		width: 70vw;
		height: 13vw;
		margin-bottom: 3%;
	}
}


